
{% extends 'base.html.twig' %}

{% block title %}Home Privacy{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
      <h1 class="title">
        Bienvenue sur PRIVACY
      </h1>
      <p class="subtitle">
       Prêt à jouer <strong>GO</strong>!
      </p>
    </div>
    <div class="buttons">
      </div>
  </section>
{% endblock %}

