
{% extends 'base.html.twig' %}

{% block title %}Home Privacy{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
      <h1 class="title">
        Bienvenue sur TALK
      </h1>
      <p class="subtitle">
       Prêt à jouer <strong>GO</strong>!
      </p>
    </div>
    <div class="buttons">
      <button class="button is-primary">
        <a href="{{ path('game_new') }}">
          Start Talk
        </a>
      </button>
    </div>
  </section>
{% endblock %}

